.linked-row {
  cursor: pointer;
}

.img-profile {
  width: 150px;
  height: 200px;
  margin-top: 20px;
  border: 2px solid #666666;
}
.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}


/*
*  ================================
*  D3 Tree
*  ================================
*/
.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
    background-image: url("../../img/grid.png");
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}
.full-canvas {
    position: inherit;
    margin: 0 0 0 250px;
    border-left: 1px solid #e7e7e7;
    min-height: 616px;
    max-width: 100%;
}

.modal-dialog {
    overflow-y: initial !important;
}
.modal-body {
    height: 460px;
    overflow-y: auto;
}